/* ボタンの基本スタイル */
.button {
    appearance: none;
    border: none;
    border-radius: 8px;
    background-color: #007bff; /* 通常時のボタンの色 */
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease; /* 見た目の変化にスムーズな遷移 */
    display: block;
    width: 85%;
    margin: 0 auto 30px
}

/* ボタンが押されているとき */
.button.pressed {
    background-color: #0056b3; /* 押下中のボタン色 */
    transform: scale(0.95); /* ボタンを少し小さくして押された感じを演出 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 押されたときの影を追加 */
}

.rosbutton {
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    background-color: #0d6efd; /* Bootstrapの primary 相当 */
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.rosbutton.connected {
    background-color: white;
    color: #6c757d; /* Bootstrapの outline-secondary 相当 */
    border: 1px solid #6c757d;
    cursor: not-allowed;
}